
* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
    
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}


.section__titles {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 24px;
    color: rgb(100, 21, 255);
}

.section__headers {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 72px;
    color: rgb(36, 62, 99);
}

.section__paras {
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    color: rgb(124, 139, 161);
}

.text--purple {
    color: rgb(100, 21, 255);
}

/* 

NAV 

*/

nav {
    padding-top: 24px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo--wrapper {
    width: 100%;
    max-width: 40px;
    
}

.nav__logo--name {
    font-size: 24px;
    font-weight: 900;
    padding-left: 12px;
    color: rgb(36, 62, 99);
}

.nav__links--container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__links {
    display: flex;
}

.nav__link {
    padding: 16px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(36, 62, 99);
}

.nav__link--login {
    padding-left: 36px;
    padding-right: 24px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(36, 62, 99);
}

.nav__link--btn {
    padding: 12px 36px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(100, 21, 255);
}

.burger__menu {
    font-size: 24px;
    color: rgb(36, 62, 99);
    display:none;
}

.burger__menu--btn {
    border: none;
    background: none;
    display: none;
}



/* 

Header 

*/

header {
    margin-top: 120px;
}

.header__container {
    display: flex;
}

.header__description {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 48px;
    
}

.header__para {
    font-size: 18px;
    line-height: 24px;
    margin: 32px 0;
    text-align: left;
    
}

.description__buttons {
    position: relative;
    max-width: 448px;
    display: flex;
    align-items: center;

}

.description__button1 {
    padding: 22px 0;
    padding-left: 32px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    

}

.description__button2 {
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 14px 0;
    width: 160px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    font-size: 16px;
    color: #f7fafc;
    font-weight: bold;
    box-sizing: content-box;
    line-height: 1.5;

}

.header__img--wrapper {
    width: 100%;
    max-width: 60%;
}

.header__bottom--container {
    margin-top: 80px;
}

.header__bottom--para {
    font-size: 12px;
    font-weight: 700;
    color: rgb(160, 174, 192);
    letter-spacing: 0.5px;
    padding-bottom: 24px;
}

.header__bottom--img {
    width: 100%;
    max-width: 70%;
    opacity: 0.5;
}

/* 

Services Section

*/

#Services__section {
    padding-top: 80px;
}

.services__container {
    padding: 80px ;
}

.services__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
 .service__para {
    width: 100%;
    max-width: 55%;
    text-align: center;
    padding-top: 16px;
 }

 .service__header {
    padding-top: 16px;
 }

 .services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
 }

 .service {
    display: flex;
    width: calc(100%/3);
    align-items: flex-start;
    margin: 24px 0;
 }

 .service__img--wrapper {
    border: solid 1px rgb(226,232,240) ;
    border-radius: 9999px;
    margin-right: 16px;
    padding: 20px;
       
 }

 .service__description {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
 }

 

 .service__icon {
    width: 24px;
 }

 .services__name {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 24px;
    color: rgb(36, 62, 99);
 }

 .services__sub {
    font-weight: 500;
    color: rgb(124, 139, 161);
    padding-top: 16px;
    line-height: 32px;
    text-align: left;
    width:100%;
    max-width: 80%;
 }

 /* 

 Quality Work Section 

 */ 

 #Quality__Work {
    padding-top: 80px;
 }

 .quality__section--container {
    padding: 80px 0;
 }

 .quality__work--container {
    display: flex;
 }

 .quality__work--description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    text-align: left;
    padding-right: 40px;
 }

 .qw--header {
    line-height: normal;
    margin: 16px 0;
 }

 .qw--button {
    padding: 14px 32px;
    margin-top: 36px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(100, 21, 255);
 }


 .qw__img {
    border: 1px solid lightgray;
    border-radius: 4px;
 }  

 /* 

 STEPS SECTION 

 */ 

 #Steps {
    padding: 80px 0;
 }

 .steps__section--container {
    display: flex;
    align-items: center;
 }

 .steps__img--wrapper {
    width: 100%;
    max-width: 50%;
 }

 .steps__description {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 56px;
 }

 .steps__header {
    padding: 16px 0;
 }

 .steps__list {
    display: flex;
    padding: 20px 0;
    justify-content: flex-start;
 }

 .steps__list--number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: rgb(203, 213, 224);
    padding-right: 24px;
 }

 .steps__list--title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: rgb(36, 62, 99);
 }

 .steps__para {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
    padding-top: 8px;
    width: 100%;
    max-width: 340px;
 }

 /* 

 VALUES SECTION 

 */ 

 #Values {
    padding: 80px 0;
 }

 .values__section--container {
    display: flex;
 }

 .values__description {
    width: 100%;
    max-width: 50%;
    padding-right: 36px;
 }

.values__heading {
    display: flex;
    flex-direction: column;
}

.values__header {
    line-height: normal;
    padding: 24px 0 32px 0;
}

.values__subheadings {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
}

.values__subheading--a {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    
}

.affordable__title--icon {
    display: flex;
    align-items: center;
}

.values__subheading--p {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    
}

.subheader__icon--container {
    background-color: rgb(123 230 180);
    color: rgb(39 103 73 );
    width: 100%;
    max-width: 36px;
    padding: 10px 10px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.subheader__icon--container2 {
    background-color: rgb(254 178 178);
    color: rgb(155 44 44 );
    width: 100%;
    max-width: 36px;
    padding: 10px 10px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    
}

.subheader__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(36, 62, 99);
}

.subheading__para {
    padding-right: 8px;
    padding-top: 8px;
    line-height: 24px;
    text-align: left;
    color: rgb(113, 128, 150);
}

/* 

PRICING SECTION 

*/ 
 #Pricings {
    padding: 80px 0;
 }

.pricing__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__header {
    padding: 16px 0;
}

.pricing__para {
    width: 100%;
    max-width: 50%;
    text-align: center;
}

.pricing__packages {
    display: flex;
    margin-top: 56px;
}

.pricing__package {
    width: calc(100%/3);
    box-shadow: 0px 2px 3px rgb(225,225,225 );
    border-radius: 8px;
    margin: 0px 16px
}

.box__highlight {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__box--header {
    border: 1px solid rgb(226, 232, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    
}

.pricing__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 32.5px;
    color: rgb(26, 32, 44);
}

.price {
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    color: rgb(26, 32, 44);
}

.price__rate {
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 26px;
    color: rgb(160, 174, 192);
}

.pricing__box--subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(226, 232, 240);
}

.pricing__subheader--name {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: rgb(26, 32, 44);
    padding-top: 24px;
}

.pricing__subheader--lists {
    text-align: center;
    padding: 16px 0;
}

.pricing__subheader--list {
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0;
    color: rgb(113, 128, 150);
}

.pricing__button--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(226,232,240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 36px 0;    
}

.pricings__button {
    padding: 18px 54px;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    letter-spacing: 0.7px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
}

.business__package {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.white {
    color: white;
}

.box__highlight--blue {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business__box--header {
    border: 1px solid rgb(102, 126, 234);
}

.business__btn {
    background: white;
    color: rgb(100, 21, 255);
}

.box__highlight--pink {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%)
}

.enterprise__btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* 

TESTIMONIAL SECTION 

*/ 

#Testimonials {
    padding: 80px 0;
}

.testimonial__container {
    display: flex;
    align-items: center;
}

.testimonial__description--container {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    width: 100%;
    max-width: 50%;
}

.test__heading {
    display: flex;
    flex-direction: column;
}

.testimonial__img--wrapper {
    width: 100%;
    max-width: 50%;
}

.testimonial__header {
    padding: 16px 0;
}

.testimonial__rating {
    margin-top: 16px;
}

.star__wrapper {
    display: flex;
    padding: 24px 0 16px 0;
}

.star {
    color: rgb(246, 173, 85);
    padding-right: 4px;
}

.testimonial__rating {
    display: flex;
    flex-direction: column;
}

.testimonial__subheader {
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
    padding: 0px 0px 24px 0;
}

.testimonial__para {
    font-weight: 500;
    line-height: 26px;
    color: rgb(74, 85, 104);
}

.photo__name {
    display: flex;
    align-items: center;
}

.ratings__img--wrapper{
    width: 100%;
    max-width: 80px;
    padding-top: 24px;
    margin-right: 24px;
}

.ratings__img {
    border-radius: 9999px;
}

.names {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.subname {
    color: rgb(124, 139, 161);
    font-weight: 500;
}

.char {
    padding: 0;
    padding-bottom: 8px;
}

/* 

NEW SECTION 

*/ 

#treact__buttons--section {
    padding: 80px 0;
}

.treact__buttons--container {
    background-color: rgb(100, 21, 255);
    padding: 96px 0;
    border-radius: 8px;
}

.treact__header--buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 56px;
    
}

.seperator {
    width: 100%;
    max-width: 50%;
    padding-right: 16px;
    padding-left: 48px;
}

.develop__header {
    font-size: 28px;
    line-height: 36px;
    color: white;
    font-weight: 700;
}

.develop__buttons {
    padding-left: 48px;
    width: 100%;
    max-width: 50%;
}

.g--button {
    padding: 24px 48px;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: rgb(245, 101, 101);
    margin-right: 36px;
}

.c-btn {
    background-color: transparent;
    border: 1px solid rgb(203, 213, 224);
}

/* 

FOOTER 

*/ 

footer {
    background-color: rgb(100, 21, 255);
    height: 90vh;
    margin-top: 60px;
}

.footer__container {
    padding: 80px 0 48px 0;
}

.footer__links--container {
    display: flex;
    justify-content: space-between;
}

.footer__links--list {
    text-align: left;
}

.footer__links--title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    
}

.footer__links {
    margin-top: 16px;
}

.footer__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: white;
    padding: 8px 0;
}

.footer__logo-img--container {
    padding-right: 16px;
}

.footer__bottom {
    padding: 64px 0;
    border-top: 1px solid rgb(102, 126, 234);
}

.footer__bottom--links {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.footer__logo{
    width: 100%;
    max-width: 36px;
}

.footer__logo--title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 30px;
    color: white;
}

.footer__logo--container {
    display: flex;
    align-items: center;
}

.footer__copyright {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(203, 213, 224);
}



.brand__logo {
    padding: 8px 8px 8px 8px;
    border: none;
    border-radius: 9999px;
    background: white;
    margin: 0 8px;

}



@media (max-width: 768px) {

    .nav__container {
        padding: 16px 32px;
    }

    .nav__links--container {
        display: none;
    }

    .burger__menu,.burger__menu--btn {
        display: block;
    }

    header {
        margin-top: 80px;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header__description {
        width: 100%;
        max-width: 80%;
        text-align: center;
        display: flex;
        align-items: center;

    }

    .header__title {
        width: 100%;
        font-size: 32px;
    }

    .header__para {
        font-size: 16px;
        text-align: center;
        margin: 24px 0 16px 0;
        width: 100%;
        max-width: 540px;
    }

    .description__buttons {
        width: 100%;
    }

    .header__bottom--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 56px;
        
    }

    .header__bottom--para {
        font-size: 14px;
    }

    .header__img--wrapper {
        width: 100%;
    }

    .header__bottom--img {
        width: 100%;
        max-width: 80%;
    }

    .header__img--wrapper {
        width: 100%;
        max-width: 70%;
        margin-top: 36px;
    }


    .services__container {
        padding: 40px;
    }

    .services__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .service__header {
        font-size: 40px;
    }

    .service__para {
        width: 100%;
        max-width: 480px;
        font-size: 14px;
    }

    .service {
        width: calc(100% / 2);
    }

    .quality__work--container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .qw__img--wrapper {
        width: 100%;
        max-width: 480px;
    }

    .quality__work--description {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 36px 40px;
    }

    .qw--header {
        font-size: 36px;
    }

    .qw--para {
        font-size: 14px;
    }





    .steps__section--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .steps__img--wrapper {
        max-width: 480px;
    }

    .steps__description {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        padding: 0;
    }

    .steps__header {
        font-size: 28px;
    }

    .steps__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .steps__list--number {
        padding: 16px 0;
    }

    .values__section--container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .values__img--wrapper {
        max-width: 480px;
    }

    .values__description {
        max-width: 100%;
        padding: 0 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .values__heading {
        
    }

    .values__header {
        font-size: 36px;
        max-width: 420px;
        width: 100%;
    }

    .values__para {
        font-size: 14px;
        width: 100%;
        max-width: 420px;
        line-height: 24px;
    }

    .values__subheadings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .values__subheading--a,.values__subheading--p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 16px 0;
    }

    .subheading__para {
        text-align: center;
    }
}
    

