
* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
    
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.section__titles {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 24px;
    color: rgb(100, 21, 255);
}

.section__headers {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 72px;
    color: rgb(36, 62, 99);
}

.section__paras {
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    color: rgb(124, 139, 161);
}

.text--purple {
    color: rgb(100, 21, 255);
}

/* 

NAV 

*/

nav {
    padding-top: 24px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo--wrapper {
    width: 100%;
    max-width: 40px;
    
}

.nav__logo--name {
    font-size: 24px;
    font-weight: 900;
    padding-left: 12px;
    color: rgb(36, 62, 99);
}

.nav__links--container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__links {
    display: flex;
}

.nav__link {
    padding: 16px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(36, 62, 99);
}

.nav__link--login {
    padding-left: 36px;
    padding-right: 24px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(36, 62, 99);
}

.nav__link--btn {
    padding: 12px 36px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(100, 21, 255);
}

/* 

Header 

*/

header {
    margin-top: 120px;
}

.header__container {
    display: flex;
}

.header__description {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 48px;
    
}

.header__para {
    font-size: 18px;
    line-height: 24px;
    margin: 32px 0;
    text-align: left;
    
}

.description__buttons {
    position: relative;
    max-width: 448px;
    display: flex;
    align-items: center;

}

.description__button1 {
    padding: 22px 0;
    padding-left: 32px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    

}

.description__button2 {
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 14px 0;
    width: 160px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    font-size: 16px;
    color: #f7fafc;
    font-weight: bold;
    box-sizing: content-box;
    line-height: 1.5;

}

.header__img--wrapper {
    width: 100%;
    max-width: 60%;
}

.header__bottom--container {
    margin-top: 80px;
}

.header__bottom--para {
    font-size: 12px;
    font-weight: 700;
    color: rgb(160, 174, 192);
    letter-spacing: 0.5px;
    padding-bottom: 24px;
}

.header__bottom--img {
    width: 100%;
    max-width: 70%;
    opacity: 0.5;
}

/* 

Services Section

*/

#Services__section {
    padding-top: 80px;
}

.services__container {
    padding: 80px ;
}

.services__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
 .service__para {
    width: 100%;
    max-width: 55%;
    text-align: center;
    padding-top: 16px;
 }

 .service__header {
    padding-top: 16px;
 }

 .services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
 }

 .service {
    display: flex;
    width: calc(100%/3);
    align-items: flex-start;
    margin: 24px 0;
 }

 .service__img--wrapper {
    border: solid 1px rgb(226,232,240) ;
    border-radius: 9999px;
    margin-right: 16px;
    padding: 20px;
       
 }

 .service__description {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
 }

 

 .service__icon {
    width: 24px;
 }

 .services__name {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 24px;
    color: rgb(36, 62, 99);
 }

 .services__sub {
    font-weight: 500;
    color: rgb(124, 139, 161);
    padding-top: 16px;
    line-height: 32px;
    text-align: left;
    width:100%;
    max-width: 80%;
 }

 /* 

 Quality Work Section 

 */ 

 #Quality__Work {
    padding-top: 80px;
 }

 .quality__section--container {
    padding: 80px 0;
 }

 .quality__work--container {
    display: flex;
 }

 .quality__work--description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    text-align: left;
    padding-right: 40px;
 }

 .qw--header {
    line-height: normal;
    margin: 16px 0;
 }

 .qw--button {
    padding: 14px 32px;
    margin-top: 36px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(100, 21, 255);
 }


 .qw__img {
    border: 1px solid lightgray;
    border-radius: 4px;
 }  

 /* 

 STEPS SECTION 

 */ 

 #Steps {
    padding: 80px 0;
 }

 .steps__section--container {
    display: flex;
    align-items: center;
 }

 .steps__img--wrapper {
    width: 100%;
    max-width: 50%;
 }

 .steps__description {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 56px;
 }

 .steps__header {
    padding: 16px 0;
 }

 .steps__list {
    display: flex;
    padding: 20px 0;
    justify-content: flex-start;
 }

 .steps__list--number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: rgb(203, 213, 224);
    padding-right: 24px;
 }

 .steps__list--title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: rgb(36, 62, 99);
 }

 .steps__para {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
    padding-top: 8px;
    width: 100%;
    max-width: 340px;
 }

 /* 

 VALUES SECTION 

 */ 

 #Values {
    padding: 80px 0;
 }

 .values__section--container {
    display: flex;
 }

 .values__description {
    width: 100%;
    max-width: 50%;
    padding-right: 36px;
 }

.values__heading {
    display: flex;
    flex-direction: column;
}

.values__header {
    line-height: normal;
    padding: 24px 0 32px 0;
}

.values__subheadings {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
}

.values__subheading--a {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    
}

.affordable__title--icon {
    display: flex;
    align-items: center;
}

.values__subheading--p {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    
}

.subheader__icon--container {
    background-color: rgb(123 230 180);
    color: rgb(39 103 73 );
    width: 100%;
    max-width: 36px;
    padding: 10px 10px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.subheader__icon--container2 {
    background-color: rgb(254 178 178);
    color: rgb(155 44 44 );
    width: 100%;
    max-width: 36px;
    padding: 10px 10px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    
}

.subheader__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(36, 62, 99);
}

.subheading__para {
    padding-right: 8px;
    padding-top: 8px;
    line-height: 24px;
    text-align: left;
    color: rgb(113, 128, 150);
}

/* 

PRICING SECTION 

*/ 
 #Pricings {
    padding: 80px 0;
 }

.pricing__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__header {
    padding: 16px 0;
}

.pricing__para {
    width: 100%;
    max-width: 50%;
    text-align: center;
}




